body {
    /* background: url('https://source.unsplash.com/twukN12EN7c/1920x1080') no-repeat center center fixed; */
    background: url('https://images.unsplash.com/photo-1501102057089-b3e50a55eff6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1053&q=80') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.divider-custom {
    margin: 1.25rem 0 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.4rem;
}
.divider-custom .divider-custom-line {
    width: 100%;
    max-width: 7rem;
    height: 0.2rem;
    background-color: #6900c7;
    border-radius: 1rem;
    border-color: #6900c7 !important;
}
.divider-custom .divider-custom-line:first-child {
    margin-right: 1rem;
}
.divider-custom .divider-custom-line:last-child {
    margin-left: 1rem;
}
.divider-custom .divider-custom-icon {
    color: #6900c7 !important;
    font-size: 2rem;
}
.divider-custom.divider-light .divider-custom-line {
    background-color: darkred;
}
.divider-custom.divider-light .divider-custom-icon {
    color: #491217 !important;
}

.divider-custom .divider-custom-line-alt:first-child {
    margin-right: 1rem;
}
.divider-custom .divider-custom-line-alt:last-child {
    margin-left: 1rem;
}
.divider-custom .divider-custom-icon-alt {
    color: #6900c7 !important;
    font-size: 2rem;
}

.divider-custom .divider-custom-line-alt {
    width: 100%;
    max-width: 7rem;
    height: 0.2rem;
    background-color: #6900c7;
    border-radius: 1rem;
    border-color: #6900c7 !important;
}

.divider-custom.divider-light .divider-custom-line-alt {
    background-color: white;
}
.divider-custom.divider-light .divider-custom-icon-alt {
    color: wheat !important;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

.text-primary {
    color: maroon !important;
}

.text-secondary {
    color: #a13941 !important; }

.text-tertiary {
    color: lightyellow; !important;
}

.error {
    padding-top: 0.5rem;
    text-align: center;
    color: red;
}

.dropdown-error {
    position: relative;
    font-weight: normal; !important;
    white-space: nowrap;
}

:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: .75rem;
}

.profile-body {
    background: cornflowerblue;
    background: linear-gradient(to right, cornflowerblue, cadetblue);
}

.card-signin {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
}

.card-signin .card-img-left {
    width: 45%;
    background: scroll center url('https://source.unsplash.com/p2ifKHu3dXM/700x600');
    background-size: cover;
}

.card-signin .card-img-left-2 {
    width: 45%;
    background: scroll center url('https://source.unsplash.com/USOrs07uyfM/600x600');
    background-size: cover;
}

.card-signin .card-body {
    padding: 2rem;
}

.form-signin {
    width: 100%;
}

.form-signin .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-label-group input {
    height: auto;
    border-radius: 2rem;
}

.form-label-group>input,
.form-label-group>label {
    padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group>label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
    color: transparent;
}

.form-label-group input:-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-moz-placeholder {
    color: transparent;
}

.form-label-group input::placeholder {
    color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
}

.form-label-dropdown{
    position: relative;
    width: 200px;
    margin-bottom: 1rem;
    margin-left: 1.5rem;

    color: #fff;
    outline: none;
    cursor: pointer;

    font-weight: bold;
}

.btn-primary {
    color: white;
    background-color: #3b5998;
}

.btn-google {
    color: white;
    background-color: #ea4335;
}

.btn-facebook {
    color: white;
    background-color: #3b5998;
}

.card-title {
    font-family: "Lato Light", monospace;
}

.row{
    gap: 15px;
}

.pricing .card {
    border: none;
    border-radius: 1rem;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.col-lg-3{
    display: grid;
    gap: normal;
}

.col-lg-4{
    display: grid;
    gap: normal;
}

.pricing hr {
    margin: 1.5rem 0;
}

.pricing .card-title {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    letter-spacing: .1rem;
    font-weight: bold;
}


.pricing .card-price {
    font-size: 2.3rem;
    margin: 0;
}

.pricing .card-price .period {
    font-size: 0.8rem;
}

.pricing ul li {
    margin-bottom: 1rem;
}

.pricing .text-muted {
    opacity: 0.7;
}

.pricing .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    opacity: 0.7;
    transition: all 0.2s;
}

/* Hover Effects on Card */

@media (min-width: 992px) {
    .pricing .card:hover {
        margin-top: -.25rem;
        margin-bottom: .25rem;
        box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    }
    .pricing .card:hover .btn {
        opacity: 1;
    }
}

.masthead-home {
    padding-top: calc(1rem + 37px);
    padding-bottom: 3.5rem;
    border-bottom: solid;
}

.masthead {
    padding-top: calc(1rem + 37px);
    padding-bottom: 3.5rem;
}
.masthead .masthead-heading {
    font-family: "JetBrains Mono", monospace;
    font-size: 4rem;
    line-height: 1rem;
}
.masthead .masthead-subheading {
    font-size: 1.5rem;
}

.masthead-home .masthead-heading {
    font-family: "JetBrains Mono", monospace;
    font-size: 4rem;
    line-height: 1rem;
}
.masthead-home .masthead-subheading {
    font-size: 1.5rem;
}

.bg-primary {
    background: orange; !important;
    background: linear-gradient(to right, orangered, orange);
}

.container {
    width: 100%;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    margin-right: auto;
    margin-left: auto; }

.page-section {
    padding: 6rem 0; }
.page-section .page-section-heading {
    font-family: "JetBrains Mono", monospace;
    font-size: 2.6rem;
    line-height: 2rem;
}

.portfolio {
    padding-top: 1.5rem;
}

.row {
    display: flex;
    justify-content: center;
}

.column {
    padding-left: 1rem;
}

.pass{
    padding-top: 5px;
    padding-left: 10px;
}

* {
    box-sizing: border-box;
}

/* Style the search field */
form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

/* Style the submit button */
form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2c9805;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
}

form.example button:hover {
    background: #0bda0e;
}

/* Clear floats */
form.example::after {
    content: "";
    clear: both;
    display: table;
}

.about {
    border-bottom: solid;
    border-top: solid;
}

.pd-b {
    padding-bottom: 2rem;
}

.search-warehouse{
    padding-top: 20px;
}