<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Currency Converter Create Currency</title>

    <!-- Favicons -->
    <link th:href="@{/assets/logo.png}" href="../static/assets/logo.png" rel="icon">
    <link href="../static/assets/apple-touch-icon.png" rel="apple-touch-icon">

    <link href="../static/Theme2static/css/bootstrap.min.css" th:href="@{/Theme2static/css/bootstrap.min.css}"
          rel="stylesheet">
    <link href="../static/Theme2static/css/bootstrap-theme.css" th:href="@{/Theme2static/css/bootstrap-theme.css}"
          rel="stylesheet">
    <link href="../static/Theme2static/css/elegant-icons-style.css"
          th:href="@{/Theme2static/css/elegant-icons-style.css}" rel="stylesheet"/>
    <link href="../static/Theme2static/css/font-awesome.min.css" th:href="@{/Theme2static/css/font-awesome.min.css}"
          rel="stylesheet"/>
    <link href="../static/Theme2static/assets/fullcalendar/fullcalendar/bootstrap-fullcalendar.css"
          th:href="@{/Theme2static/assets/fullcalendar/fullcalendar/bootstrap-fullcalendar.css}" rel="stylesheet"/>
    <link href="../static/Theme2static/assets/fullcalendar/fullcalendar/fullcalendar.css"
          th:href="@{/Theme2static/assets/fullcalendar/fullcalendar/fullcalendar.css}" rel="stylesheet"/>
    <link href="../static/Theme2static/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css"
          th:href="@{/Theme2static/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css}" rel="stylesheet"
          type="text/css" media="screen"/>
    <link href="../static/Theme2static/css/owl.carousel.css" th:href="@{/Theme2static/css/owl.carousel.css}"
          type="text/css" rel="stylesheet">
    <link href="../static/Theme2static/css/jquery-jvectormap-1.2.2.css"
          th:href="@{/Theme2static/css/jquery-jvectormap-1.2.2.css}" rel="stylesheet">
    <link href="../static/Theme2static/css/fullcalendar.css" th:href="@{/Theme2static/css/fullcalendar.css}"
          rel="stylesheet">
    <link href="../static/Theme2static/css/widgets.css" th:href="@{/Theme2static/css/widgets.css}" rel="stylesheet">
    <link href="../static/Theme2static/css/style.css" th:href="@{/Theme2static/css/style.css}" rel="stylesheet">
    <link href="../static/Theme2static/css/style-responsive.css" th:href="@{/Theme2static/css/style-responsive.css}"
          rel="stylesheet"/>
    <link href="../static/Theme2static/css/xcharts.min.css" th:href="@{/Theme2static/css/xcharts.min.css}"
          rel=" stylesheet">
    <link href="../static/Theme2static/css/jquery-ui-1.10.4.min.css"
          th:href="@{/Theme2static/css/jquery-ui-1.10.4.min.css}" rel="stylesheet">
    <!--<link href="../static/styles2.css" th:href="@{/styles2.css}" rel="stylesheet" -->

    <!-- Font Awesome Icons -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
            crossorigin="anonymous"></script>

</head>
<body>
<header class="header dark-bg">
    <!--logo start-->
    <a href="index.html" th:href="@{/}" class="logo">Currency<span class="lite">Converter</span></a>
    <!--logo end-->

    <div class="top-nav notification-row">
        <ul class="nav pull-right top-menu">
            <!-- user login dropdown start-->

            <!--user login dropdown end-->
        </ul>
    </div>

</header>
<!--sidebar start-->
<aside>
    <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu">
            <li class="sub-menu">
            <li th:if="${currentUser == null}" class="nav-item">
                <a class="nav-link" th:href="@{/login}" href="#">LOGIN</a>
            </li>
            </li>
            <li class="sub-menu">
            <li th:if="${currentUser != null}" class="nav-item">
                <a class="nav-link" th:href="@{/logout}" href="#">LOGOUT</a>
            </li>
            </li>
            <li th:if="${currentUser == null}" class="nav-item">
                <a class="nav-link" th:href="@{/register}" href="#">REGISTER</a>
            </li>
            <li th:if="${currentUser != null}" class="nav-item">
                <a class="nav-link" th:href="@{/create}" href="#">Create Currency</a>
            </li>
            <li class="sub-menu">
            </li>
        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>
<!--sidebar end-->
<section id="main-content">
    <section class="wrapper">
        <!--overview start-->
        <!--/.row-->
        <!-- Form validations -->
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                         Create Currency
                    </header>
                    <div class="panel-body">
                        <div class="form">
                            <form class="form-validate form-horizontal" id="feedback_form"
                                  th:object="${currencyDto}" method="post" action="">
                                <div class="form-group ">
                                    <label for="cemail" class="control-label col-lg-2">Currency name <span
                                            class="required"></span></label>
                                    <div class="col-lg-10">
                                        <input class="form-control" id="cemail" name="country" type="text"
                                               th:field="*{name}"/>
                                        <label class="error" th:errors="*{name}">Contest Title</label>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="cemail" class="control-label col-lg-2">Currency code <span
                                            class="required"></span></label>
                                    <div class="col-lg-10">
                                        <input class="form-control" id="cemail" name="country" type="text"
                                               th:field="*{code}"/>
                                        <label class="error" th:errors="*{code}">Currency code</label>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="cemail" class="control-label col-lg-2">Currency units <span
                                            class="required"></span></label>
                                    <div class="col-lg-10">
                                        <input class="form-control" id="cemail" name="country" type="text"
                                               th:field="*{units}"/>
                                        <label class="error" th:errors="*{units}">Currency units</label>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="cemail" class="control-label col-lg-2">Currency valueBGN <span
                                            class="required"></span></label>
                                    <div class="col-lg-10">
                                        <input class="form-control" id="cemail" name="country" type="text"
                                               th:field="*{valueBGN}"/>
                                        <label class="error" th:errors="*{valueBGN}">Currency valueBGN</label>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="cemail" class="control-label col-lg-2">Currency inverse rate <span
                                            class="required"></span></label>
                                    <div class="col-lg-10">
                                        <input class="form-control" id="cemail" name="country" type="text"
                                               th:field="*{inverseRate}"/>
                                        <label class="error" th:errors="*{inverseRate}">Currency inverse rate</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-offset-2 col-lg-10">
                                        <button class="btn btn-primary" type="submit">Create</button>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </section>
            </div>
        </div>
        </div>
    </section>
</section>
<script src="../static/Theme2static/js/jquery.js" th:src="@{/Theme2static/js/jquery.js}"></script>
<script src="../static/Theme2static/js/bootstrap.min.js" th:src="@{/Theme2static/js/bootstrap.min.js}"></script>
<script src="../static/Theme2static/js/scripts.js" th:src="@{/Theme2static/js/scripts.js}"></script>

</body>

</html>