<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Currency Converter Dashboard</title>

    <!-- Favicons -->
    <link th:href="@{/assets/logo.png}" href="../static/assets/logo.png" rel="icon">
    <link href="../static/assets/apple-touch-icon.png" rel="apple-touch-icon">

    <link href="../static/Theme2static/css/bootstrap.min.css" th:href="@{/Theme2static/css/bootstrap.min.css}"
          rel="stylesheet">
    <link href="../static/Theme2static/css/bootstrap-theme.css" th:href="@{/Theme2static/css/bootstrap-theme.css}"
          rel="stylesheet">
    <link href="../static/Theme2static/css/elegant-icons-style.css"
          th:href="@{/Theme2static/css/elegant-icons-style.css}" rel="stylesheet"/>
    <link href="../static/Theme2static/css/font-awesome.min.css" th:href="@{/Theme2static/css/font-awesome.min.css}"
          rel="stylesheet"/>
    <link href="../static/Theme2static/assets/fullcalendar/fullcalendar/bootstrap-fullcalendar.css"
          th:href="@{/Theme2static/assets/fullcalendar/fullcalendar/bootstrap-fullcalendar.css}" rel="stylesheet"/>
    <link href="../static/Theme2static/assets/fullcalendar/fullcalendar/fullcalendar.css"
          th:href="@{/Theme2static/assets/fullcalendar/fullcalendar/fullcalendar.css}" rel="stylesheet"/>
    <link href="../static/Theme2static/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css"
          th:href="@{/Theme2static/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css}" rel="stylesheet"
          type="text/css" media="screen"/>
    <link href="../static/Theme2static/css/owl.carousel.css" th:href="@{/Theme2static/css/owl.carousel.css}"
          type="text/css" rel="stylesheet">
    <link href="../static/Theme2static/css/jquery-jvectormap-1.2.2.css"
          th:href="@{/Theme2static/css/jquery-jvectormap-1.2.2.css}" rel="stylesheet">
    <link href="../static/Theme2static/css/fullcalendar.css" th:href="@{/Theme2static/css/fullcalendar.css}"
          rel="stylesheet">
    <link href="../static/Theme2static/css/widgets.css" th:href="@{/Theme2static/css/widgets.css}" rel="stylesheet">
    <link href="../static/Theme2static/css/style.css" th:href="@{/Theme2static/css/style.css}" rel="stylesheet">
    <link href="../static/Theme2static/css/style-responsive.css" th:href="@{/Theme2static/css/style-responsive.css}"
          rel="stylesheet"/>
    <link href="../static/Theme2static/css/xcharts.min.css" th:href="@{/Theme2static/css/xcharts.min.css}"
          rel=" stylesheet">
    <link href="../static/Theme2static/css/jquery-ui-1.10.4.min.css"
          th:href="@{/Theme2static/css/jquery-ui-1.10.4.min.css}" rel="stylesheet">
    <!--<link href="../static/styles2.css" th:href="@{/styles2.css}" rel="stylesheet" -->

    <!-- Font Awesome Icons -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
            crossorigin="anonymous"></script>

</head>
<body>
<header class="header dark-bg">
    <!--logo start-->
    <a href="index.html" th:href="@{/}" class="logo">Currency<span class="lite">Converter</span></a>
    <!--logo end-->

    <div class="top-nav notification-row">
        <ul class="nav pull-right top-menu">
            <!-- user login dropdown start-->

            <!--user login dropdown end-->
        </ul>
    </div>

</header>
<!--sidebar start-->
<aside>
    <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu">
            <li class="sub-menu">
            <li th:if="${currentUser == null}" class="nav-item">
                <a class="nav-link" th:href="@{/login}" href="#">LOGIN</a>
            </li>
            </li>
            <li class="sub-menu">
            <li th:if="${currentUser != null}" class="nav-item">
                <a class="nav-link" th:href="@{/logout}" href="#">LOGOUT</a>
            </li>
            </li>
            <li th:if="${currentUser == null}" class="nav-item">
                <a class="nav-link" th:href="@{/register}" href="#">REGISTER</a>
            </li>
            <li th:if="${currentUser != null}" class="nav-item">
                <a class="nav-link" th:href="@{/create}" href="#">Create Currency</a>
            </li>
            <li class="sub-menu">
            </li>
        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>
<!--sidebar end-->
<section id="main-content">
    <section class="wrapper">
        <!--/.row-->
        <div class="row">

            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        Convert currency values
                    </header>
                    <div class="panel-body">
                        <div class="form">
                            <form class="form-validate form-horizontal" id="feedback_form"
                                  th:object="${convertDto}" method="post" action="">
                                <div class="form-group ">
                                    <label for="cemail" class="control-label col-lg-2">Contest Title <span
                                            class="required"></span></label>
                                    <div class="col-lg-10">
                                        <input class="form-control" placeholder="Enter amount" type="text"
                                               th:field="${convertDto.amount}">
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="contestCategoryId" class="control-label col-lg-2">Contest
                                        category</label>
                                    <div class="col-lg-10">
                                        <select class="form-control m-bot15 tooltips" id="contestCategoryId"
                                                th:name="currencyFromId" data-placement="left"
                                                data-original-title="Currency From">
                                            <option th:each="currency : ${currencies}"
                                                    th:value="${currency.getId()}"
                                                    th:text="${currency.getName()} + '(' + ${currency.getCode()+ ')'} ">
                                                [Currency From]
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="contestCategoryId" class="control-label col-lg-2">Contest
                                        category</label>
                                    <div class="col-lg-10">
                                        <select class="form-control m-bot15 tooltips" id="currencyId"
                                                th:name="currencyToId" data-placement="left"
                                                data-original-title="Currency To">
                                            <option th:each="currency : ${currencies}"
                                                    th:value="${currency.getId()}"
                                                    th:text="${currency.getName()} + '(' + ${currency.getCode()+ ')'} ">
                                                [Currency To]
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="cemail" class="control-label col-lg-2">Result of conversion <span
                                            class="required"></span></label>
                                    <div class="col-lg-10" th:if="${result} != null"> <h5 th:text="${result}"></h5>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-offset-2 col-lg-10">
                                        <button type="submit" class="btn btn-info" href=""><span
                                                class="fas fa-trophy mr-2"></span>Convert
                                        </button>
                                        <a class="btn btn-danger" href="#" th:href="@{/}">Reset</a>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </section>
            </div>

            <div class="col-lg-12">
                <section class="panel">
                    <h3 style="text-align: center" class="panel-heading">Currencies</h3>
                    <table class="table table-striped table-advance table-hover">
                        <tbody>
                        <tr>
                            <th><i class="fas fa-id-badge"></i> ID</th>
                            <th><i class="fas fa-dice"></i> Name</th>
                            <th><i class="fas fa-dice"></i> Code</th>
                            <th><i class="fas fa-dice"></i> Units</th>
                            <th><i class="fas fa-award"></i> ValueBGN</th>
                            <th><i class="fas fa-dice"></i> Inversion rate</th>
                        </tr>
                        <tr th:each="currency : ${currencies}">
                            <td>
                                <a href="#" th:text="${currency.getId()}">Id</a></td>
                            <td th:text="${currency.getName()}">Name</td>
                            <td th:text="${currency.getCode()}">Code</td>
                            <td th:text="${currency.getUnits()}">Units</td>
                            <td th:text="${currency.getValueBGN()}">Value BGN</td>
                            <td th:text="${currency.getInverseRate()}">Inversion rate</td>
                        </tr>
                        </tbody>
                    </table>
                </section>
            </div>
        </div>
    </section>

</section>
<script src="../static/Theme2static/js/jquery.js" th:src="@{/Theme2static/js/jquery.js}"></script>
<script src="../static/Theme2static/js/bootstrap.min.js" th:src="@{/Theme2static/js/bootstrap.min.js}"></script>
<script src="../static/Theme2static/js/scripts.js" th:src="@{/Theme2static/js/scripts.js}"></script>
</body>
</html>